
<main>
    <span>
      <img src="../../assets/img/banner-empleados.png" alt="">
      <h1>Empleados</h1>
      <h2>Lista Total</h2>
    </span>
    <div id="lista">
      <h3>Desarrollo web</h3>
      <hr>
      <table id="web-dev">
        <tr id="cell-type">
          <th>Nombre</th>
          <th>Correo</th>
          <th>Fecha de nacimiento</th>
          <th>Edad</th>
          <th>DNI</th>
          <th>Cargo</th>
          <th>Salario</th>
        </tr>
        <tr *ngFor="let empleado of empleados">
          <td>{{empleado.name}}</td>
          <td>{{empleado.mail}}</td>
          <td>{{empleado.dateBorn}}</td>
          <td>{{empleado.age}}</td>
          <td>{{empleado.DNI}}</td>
          <td>{{empleado.position}}</td>
          <td>{{empleado.salary}}</td>
        </tr>
      </table>

    </div>
</main>
