
<main>
    <span>
      <img src="../../assets/img/banner-empleados.png" alt="">
      <h1>Empleados</h1>
      <h2>Lista Total</h2>
    </span>
    <div id="lista">
      <h3>Desarrollo web</h3>
      <hr>
      <table id="web-dev">
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Fecha de nacimiento</th>
          <th>Edad</th>
          <th>DNI</th>
          <th>Cargo</th>
          <th>Salario</th>
        </tr>
        <tr>
          <td>Estefanía Vélez Cárdenas</td>
          <td>estefaniavelezc@passiflora.com</td>
          <td>30/10/1998</td>
          <td>24</td>
          <td>1033.177.340</td>
          <td>🕵️‍♀️ DevOps </td>
          <td>4.000.000</td>
        </tr>
      </table>

    </div>
</main>
