<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <div class="no-emergent-components">
      <app-navigator></app-navigator>
      <app-employee></app-employee>
    </div>
    <div id="modal-component" *ngIf="modal == true">
      <app-employee-forms></app-employee-forms>
    </div>
  </body>
</html>
