<aside>
  <div id="profile">
    <div id="profile-container">
      <img id="profile-photo" src="../../assets/img/Componente 2 – 1.svg" alt="">
    </div>
    <p id="profile-name">Daniel Árias</p>
  </div>
  <div id="nav">
    <ul id="lista">
      <li class="li active">
        <a href=""><img src="../../assets/img/user.svg" alt="" class="nav-icon nav-icon_user" /><span>Perfil</span></a>
      </li>
      <li class="li">
        <a href=""><img src="../../assets/img/employee.svg" alt="" class="nav-icon" /><span>Empleados</span></a>
      </li>
      <li class="li">
        <a href=""><img src="../../assets/img/briefcase.svg" alt="" class="nav-icon" /><span>Servicios</span></a>
      </li>
      <li class="li">
        <a href=""><img src="../../assets/img/avion-de-papel.svg" alt="" class="nav-icon" /><span>Mensajes</span></a>
      </li>
      <li class="li">
        <a href=""><img src="../../assets/img/comprobacion-de-lista.svg"alt="" class="nav-icon" /><span>Tareas</span></a>
      </li>
      <li class="li">
        <a href=""><img src="../../assets/img/estadisticas.svg" alt="" class="nav-icon" /><span>Estadísticas</span></a>
      </li>
      <li class="li">
        <a href=""><img src="../../assets/img/starred.svg" alt="" class="nav-icon" /><span>Destacado</span></a>
      </li>
      <li class="li">
        <a href=""><img src="../../assets/img/question.svg" alt="" class="nav-icon" /><span>Ayuda</span></a>
      </li>
      <li class="li">
        <a href=""><img src="../../assets/img/ajustes.svg" alt="" class="nav-icon nav-icon_config" /><span>Configuraciones</span></a>
      </li>
    </ul>
  </div>
  <button id="log-out">
  <span>Agrear Empleado</span>
  </button>









</aside>
