<div id="blur">
</div>
<div id="new-employee-form">
  <img src="../../assets/img/xmark-solid.svg" alt="" id="close-button">
  <h3>Registrar <span id="clip">Empleado</span></h3>
  <form action="">
 <div id="name">
      <span> Nombre</span>
      <input type="text">
 </div>
 <div id="mail">
      <span> Correo</span>
      <input type="text">
 </div>
<div id="old">
   <div id="birth">
        <span>Fecha de nacimiento</span>
        <input type="date">
   </div>
   <div id="age">
        <span> Edad</span>
        <input type="text">
   </div>
</div>
 <div id="DNI">
      <span> DNI</span>
      <input type="text">
 </div>
 <div id="position">
      <span> Cargo</span>
      <input type="text">
 </div>
 <div id="salary">
      <span> Salario</span>
      <input type="text">
 </div>
 <button id="register">
  <span>Registrar</span>
  </button>
</form>
</div>
